body{
	background-image: url("img/spaceHangar.jpg");
	background-repeat: no-repeat;
}

.initial-ship{
	display : flex;
	background-color: rgba(255,255,255,0.9);
	padding: 1em;
	border-radius: 3px;
	box-shadow: 0px 0px 100px 40px rgba(0,0,0,0.5);
	width: 700px;
}