body{
	background-image: url("img/main-state.jpg");
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-menu{
	height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-menu .menu-items{
	display:flex;
	justify-content:center;
	
}

.page-menu .menu-items button{
	height: 45px;
    width: 150px;
    padding: 0;
    border: 1px solid gray;
    border-radius: 1px;
    margin: 0 1em;
    cursor: pointer;
    
}

.page-menu .menu-items button:focus{
	outline : none;
	
}

.page-menu .menu-items button:hover{
	background: #d2d2d2;
	
}

.page-content{
	height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content .content-wrapper #travels,
.page-content .content-wrapper #ships,
.page-content .content-wrapper #goods{
	display: none;
    max-height: 600px;
	
}

.page-content .content-wrapper{
	width: 900px;
    max-height: 600px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 2px;
	box-shadow:0px 0px 5px 2px rgba(255, 255, 255, 0.95);
    padding: 1em;
	
}

.page-content .active{
	display: flex !important;	
	
}
